<!-- Additional Elements -->
<section class="wrapper style1 align-center">
    <div class="inner">
        <h2>Estonia DAO onboarding</h2>
        <p>To successfully onboard you as a new member we will need to verify your <strong>Ethereum address</strong> and <strong>Estonian ID</strong>.</p>
        <div class="index align-left">

                <section>
                    <header>
                        <h3>Step 1</h3>
                    </header>
                    <div class="content">

                        <dl>
                            <dt>Your Ethereum address. <a href ng-click="connect()">Retrieve from Metamask</a>.</dt>
                            <dd>
                                <input type="text" placeholder="0x007..." ng-model="address" id="address"><br>
                                <p>You can manually paste your ETH address. Metamask method is for pure convenience.</p>
                            </dd>
                        </dl>

                    </div>
                </section>									
                <section>
                    <header>
                        <h3>Step 2</h3>
                    </header>
                    <div class="content">

                        <dl>
                            <dt>Confirm ownership. <a href ng-click="sign()">Sign using Metamask.</a></dt>
                            <dd>
                                <input type="text" placeholder="0x007..." ng-model="signature" id="signature"><br>
                                <p>Signature is required otherwise you could put any address.</p>
                            </dd>
                        </dl>

                    </div>
                </section>									
                <section>
                    <header>
                        <h3>Step 3</h3>
                    </header>
                    <div class="content">

                        <dl>
                            <dt><a href ng-click="download()">Download the file</a>.</dt>
                            <dd>

                                <pre><code style="line-height: 2.2em;">{
<span>  </span>"address":<span>  </span><span class="emptystep" ng-hide="address" ng-click="focus('#address')">complete step 1</span><span ng-bind="address"></span>,
<span>  </span>"signature":<span ng-hide="signature" class="emptystep" ng-click="focus('#signature')">complete step 2</span><span ng-bind="signature"></span>
}</code></pre>

                            </dd>
                        </dl>

                    </div>
                </section>									
                <section>
                    <header>
                        <h3>Step 4</h3>
                    </header>
                    <div class="content">

                        <dl>
                            <dt>Sign using ID-software on your computer.</dt>
                            <dd>
                                <p>As an E-Resident you probably have the software / browser extension already installed on your machine.</p>
                                    
                                <p>You can find the Estonian DigiDoc4 ID-software <a href="https://installer.id.ee/?lang=eng">here</a>.</p>
                                    
                                <blockquote>Note: your Estonian ID number and legal name will be included in the signature.</blockquote></p>

                                    
                            </dd>
                        </dl>

                    </div>
                </section>									
                <section>
                    <header>
                        <h3>Step 5</h3>
                    </header>
                    <div class="content">

                        <dl>
                            <dt>Upload the signed file.</dt>
                            <dd>
                                <p>The file created in the previous step will be uploaded to IPFS and if signature is correct it will posted to Discord.</p>

                                <p>At the latest (Thu 30 Apr 2020) legal call we have discussed GDPR implications and we are actively working to mitigate.</p>

                                <input type="file" custom-on-change="uploadFile"><br>

                                <div ng-bind="url"></div>

                                <div ng-show="ipfsuploading">
                                    Uploading to IPFS <img src="images/spinner.gif" height=60>
                                </div>

                                <div ng-show="checkingsignanture">
                                    Checking the signature <img src="images/spinner.gif" height=60>
                                </div>

                                <div ng-show="signatureValid === true">
                                    <p>Automated check confirmed the E-ID signature is valid.</p>
                                    <p><a href ng-click="showDetails = !showDetails"><span ng-show="!showDetails">See details</span><span ng-show="showDetails">Hide details</span></a>.</p>
                                    <pre ng-show="showDetails">{{ signatureData }}</pre>
                                    <p>It was posted to Discord.</p>
                                    <p>If you haven't done it already, say "hi" in the <a href="https://discord.gg/kR85ktG">intros channel</a>!</p>

                                    <!-- <button id="sendgettodev">send to dev</button><br> -->
                                </div>

                                <div ng-show="signatureValid === false">
                                    <p><strong>Something went wrong when verifying signature.</strong></p>
                                    <pre>{{ signatureData }}</pre>
                                </div>                                    
                            
                            </dd>
                        </dl>

                    </div>
                </section>

                <section>
                    <header>
                        <h3>Step 6</h3>
                    </header>
                    <div class="content">

                        <dl>
                            <dt>Deploy your <code><span ng-hide="subdomain" ng-click="focus('#subdomain')">…</span><span ng-bind="subdomain"></span>.estoniadao.eth</code> subdomain</dt>
                            <dd>



                                <!-- <form ng-submit="deploy()">
                                    <input ng-model="ppm" type="number"><br>
                                    <input ng-model="treasury"><br>
                                    <input ng-model="beneficiary"><br>
                                    <input ng-model="subdomain"><br>
                                    <input ng-model="domain"><br>
                                    <input type="submit" value="deploy">
                                </form> -->

                                <input type="text" placeholder="subdomain" ng-model="subdomain" id="subdomain"><br>
                                <p>This will be your easy, memorable name for the voluntary tax UBI.</p>
                                <p>We are aiming for Nobel Price in Economics with our inventive incentive design structure. Check the <a href="https://docs.google.com/document/d/1AR4npthWvszwFqXmwJ1QMvgAu4hgyquThzphOk0kVfY/edit#">Google Doc</a>. It pays off to be a cool kid drinking cool aid, it's positive sum game where everyone wins!</p>
                                <input type="number" min=0 max=100 step=1 placeholder="voluntary tax rate (in %)" ng-model="taxrate" id="taxrate"><br>
                                
                                <br>

                                <button ng-click="deploy()">Deploy</button>
                                <h1 style="font-size: 2.4em; margin-top: 10px;">⚡️⚡️⚡️</h1>

                                <pre ng-show="message">{{ message }}</pre>

                            </dd>
                        </dl>

                        <br>

                        
        

                    </div>
                </section>

                <section>
                    <header>
                        <h3>Step 7</h3>
                    </header>
                    <div class="content">

                        <dl>
                            <dt>Pimp your 3Box profile</dt>
                            <dd>

                                <p>For now please use <a href="https://3box.github.io/3box-profile-edit-react/examples/dist/">the standalone demo</a>.
                                <br>
                                Soon you'll be able to customize your appearance on the map!</p>

                            </dd>
                        </dl>

                        <br>
                        <br>
                        <br>
        
                        
                        <p><a href="/#/">Back to the homepage</a>.</p>

                    </div>
                </section>		






                

        </div>
    </div>
</section>



<!-- <dl>
    <dt>Your Ethereum address. <a href ng-click="connect()">Retrieve from Metamask</a>.</dt>
    <dd>
        <input type="text" placeholder="0x007..." ng-model="address" id="address"><br>
        <p>You can manually paste your ETH address. Metamask method is for pure convenience.</p>
    </dd>
</dl> -->